* {
  border: 1px solid black;
}

body {
  background: peachpuff;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 30vh;
  gap: 10px;
  flex-grow: 3;
}
footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 30vh;
  gap: 10px;
}
.main-footer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 10px;
}
.container {
  display: flex;
  min-height: 100vh;
  flex-flow: row wrap;
  margin: 10px;
  gap: 15px;
}
.a {
  background: red;
  width: 100%;
  height: 35vh;
  flex-grow: 1;
}
.b {
  background: blue;
  flex-grow: 1;
  width: 30%;
}
.c {
  background: green;
  flex-grow: 1;
  width: 30%;
}
.d {
  background: teal;
  flex-grow: 1;
  width: 30%;
}
.e {
  background: pink;
  flex-grow: 1;
  width: 30%;
}
.f {
  background: chocolate;
  flex-grow: 1;
  width: 30%;
}
.g {
  background: slategray;
  flex-grow: 1;
  width: 30%;
}
.h {
  background: orange;
  flex-grow: 2;
  width: 100%;
}

@media (min-width: 600px) {
  .wrapper {
    height: 70vh;
    width: 65%;
    flex-grow: 2;
  }
  footer {
    width: 20%;
    height: 75vh;
  }
  .h {
    width: 100%;
  }
}