body {
  background: blanchedalmond;
  margin: 0;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 10px;
  gap: 15px;
}
.a {
  flex-grow: 2;
  background: green;
}
.b {
  min-height: 60vh;
  background: red;
  flex-grow: 5;
}
.c {
  flex-grow: 2;
  background: blue;
}

@media (min-width: 700px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
    flex-grow: 3;
  }
  .c {
    flex-grow: 1;
  }
}