* {
  border: 1px solid black;
}

body {
  background: blanchedalmond;
  margin: 0;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.a {
  flex-grow: 2;
  margin: 10px;
  background: green;
}
.b {
  min-height: 60vh;
  background: red;
  flex-grow: 5;
  margin: 10px;
}
.c {
  flex-grow: 2;
  background: blue;
  margin: 10px;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
    margin: 10px;
    flex-grow: 3;
  }
  .c {
    flex-grow: 1;
  }
}